[submodule "thirdparty/uccl"]
	path = thirdparty/uccl
	url = https://github.com/uccl-project/uccl.git
[submodule "thirdparty/HMC"]
	path = thirdparty/HMC
	url = https://github.com/IIC-SIG-MLsys/HMC.git
[submodule "thirdparty/ascend_megatron_lm"]
	path = thirdparty/ascend_megatron_lm
	url = https://github.com/NVIDIA/Megatron-LM.git
